body {
  margin: 0px;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.post-container .date {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #008080;
}

.post-container div.post-content {
  width: 90%;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

.post {
  padding: 40px;
}

.post-container {
  width: 70%;
  height: 100%;
  margin: 0 auto 0 auto;
  background-color: #fffafa;
}